QScrollBar:horizontal {
    border: none;
    background-color: #F5F5F5;
    width: 10px;
    margin: 0px 0px 0px 0px;
}
QScrollBar::handle:horizontal {
    background-color: #CFCFCF;
    min-height: 10px;
}
QScrollBar::add-line:horizontal {
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}