QPlainTextEdit  {
    background: rgb(240, 240, 240);
}
QPlainTextEdit QScrollBar:vertical {
    border: none;
    background: #F0F0F0;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border-radius: 4px;
}
QPlainTextEdit QScrollBar::handle:vertical {
    background: #c7caca;
    min-height: 20px;
    border-radius: 4px;
}
QPlainTextEdit QScrollBar::add-line:vertical {
    border: none;
    background: #a9c0c4;
    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QPlainTextEdit QScrollBar::sub-line:vertical {
    border: none;
    background: #a9c0c4;
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QPlainTextEdit QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: none;
    width: 4px;
    height: 4px;
    background: white;
}
QPlainTextEdit QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}